<!doctype html>
<html lang="pl">

<head>
    <title>Pracownia problemowa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Font -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Custrom style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="indexController" ng-init="createSensorView()">
<!--<div class="card bg-light text-dark" style="width: 60%; margin: auto ; margin-top: 30px; padding: 20px">-->
<!--<h3 style="margin: auto">Select date range</h3>-->
<!--<form>-->
<!--<div class="form-group row">-->
<!--<label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>-->
<!--<div class="col-10">-->
<!--<input class="form-control" type="datetime-local" ng-model="from" placeholder="YYYY-MM-DDTHH:MM:SS"-->
<!--id="example-datetime-local-input">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
<!--<label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>-->
<!--<div class="col-10">-->
<!--<input class="form-control" type="datetime-local" ng-model="to" placeholder="YYYY-MM-DDTHH:MM:SS"-->
<!--id="example-datetime-local-input2">-->
<!--</div>-->
<!--</div>-->
<!--<button class="btn" ng-click="searchSensorData()">Search for data</button>-->
<!--</form>-->
<!--</div>-->
<div class="container" style="padding: 40px; width: 100%">
    <div class="card bg-light text-dark">
        <div>
            <h2 style="text-align: center; align-items: flex-end">Sensor measurements</h2>
        </div>
        <div class="card-body">
            <table id="sensors" class="display" cellspacing="0" width="100%"
                   style="text-align: center">
                <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Measurement</th>
                    <th>Unit</th>
                    <th>Time</th>
                    <th>Measurement type</th>
                </tr>
                </thead>
            </table>
        </div>
        <button class="btn btn-info" onclick="window.location.href='index.html'">Come back</button>
    </div>
</div>
</body>
<script src="js/indexController.js"></script>
</html>
